@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --color-pri: #022b3a;
    --color-sec: #1f7a8c;
    --color-trd: #bfdbf7;
    --color-frd: #e1e5f2;
    --font-main: Poppins, sans-serif;
}

body {
    background-color: var(--color-pri);
    font-family: var(--font-main);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    header {
        img {
            margin-top: 24px;

        }
    }
    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* H O M E   P A G E */
    section.homepage {
        display: flex;
        flex-direction: column;
        img {
            margin-top: 90px;
            margin-bottom: 92px;
        }
        a:is(:link, :visited) {
            align-items: center;
            border: 2px solid var(--color-sec);
            border-radius: 50px;
            background-color: var(--color-sec);
            color: #fff;
            display: flex;
            height: 80px;
            font-size: 32px;
            font-weight: 400;
            justify-content: center;
            transition: all 0.4s ease-in;
            text-transform: uppercase;
            text-decoration: none;
            width: 380px;
        }
        a:is(:hover) {
            border: 2px solid #fff;
            background-color: var(--color-pri);
            color: #fff;
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* L O G I N   &   R E G I S T E R   &   C R E A T E */
    section.login,
    section.register,
    section.create,
    section.edit {
        menu {
            padding: 0;
            display: flex;
            a:is(:link, :visited) {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                text-decoration: none;
                height: 80px;
                width: 190px;
            }
            a:first-child {
                background-color: var(--color-sec);
                border-radius: 50px 0 0 50px ;
                color: #fff;
            }
            a:last-child {
                background-color: #fff;
                border-radius: 0 50px 50px 0;
                color: var(--color-sec);
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin-top: 40px;
            margin-bottom: 1rem;

            input, select, button {
                outline: none;
                border: none;
                border-radius: 50px;
                padding: 20px;
                width: 380px;
            }

            input, select {
                background-color: #fffb;
                color: var(--color-pri);
                font-size: 20px;
                font-weight: 400;
                padding: 20px;
                transition: all 0.5s ease-in;
                width: 340px;
                &::placeholder {
                    color: var(--color-pri);
                    text-transform: uppercase;
                }
                &:focus {
                    background-color: #fff;
                }
            }

            select {
                background: #fffb url(../images/arrow-select.png) no-repeat 340px center;
                appearance: none;
                width: 380px;
            }

            button {
                align-items: center;
                border: 2px solid var(--color-sec);
                border-radius: 50px;
                background-color: var(--color-sec);
                color: #fff;
                display: flex;
                height: 60px;
                font-size: 32px;
                font-weight: 400;
                justify-content: center;
                transition: all 0.4s ease-in;
                text-transform: uppercase;
                text-decoration: none;
                width: 380px;
            }
            button:is(:hover) {
                border: 2px solid #fff;
                background-color: var(--color-pri);
                cursor: pointer;
                color: #fff;
            }
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* R E G I S T E R */
    section.register {
        menu {
            a:first-child {
                background-color: #fff;
                border-radius: 50px 0 0 50px ;
                color: var(--color-sec);
            }
            a:last-child {
                background-color: var(--color-sec);
                border-radius: 0 50px 50px 0;
                color: #fff;
            }
        }
    }


    header.nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;

        a:first-of-type {
            transition: all 0.2s ease-in;
            &:hover {
                transform: translate(-10px);
            }
        }
    }

    header.nav.level-0 {
        a:first-of-type {
            visibility: hidden;
            pointer-events: none;
        }
    }

    header.nav.level-2   {
        a:last-of-type {
            visibility: hidden;
            pointer-events: none;
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* D A S H B O A R D */
    section.dashboard {
        h1 {
            font-size: 28px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            margin: 2.4rem 0;
        }
        menu {
            padding: 0;
            ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                list-style: none;
                li {
                    background-color: var(--color-sec);
                    border-radius: 20px;
                    padding: 20px;
                    width: 360px;
                    a:is(:link, :visited) {
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        gap: 1rem;
                        color: #fff;
                        text-decoration: none;
                    }
                    a {
                        img {
                            transform: scale(.8);
                        }
                        img, span {
                            transition: all 0.4s ease-in;
                        }
                    }
                    &:hover {
                        a {
                            img {
                                transform: scale(1);
                            }
                            span {
                                transform: translateX(6px);
                            }
                        }
                    }
                }
            }
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* M O D U L E S */
    section.module {
        h1 {
            font-size: 28px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            margin: 2.4rem 0;
        }

        a.add:is(:link, :visited) {
            background-color: var(--color-sec);
            border-radius: 40px;
            display: flex;
            gap: 1rem;
            align-items: center;
            color: #fff;
            text-decoration: none;
            padding: 1rem;
            margin-bottom: 1rem;
            transition: all 0.4s ease-in;
            &:is(:hover) {
                transform: scale(1.05);
            }
        }

        table {
            color: var(--color-pri);
            border-collapse: collapse;
            margin-bottom: 1rem;
            width: 400px;
            tbody {
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
                tr {
                    border-radius: 20px;
                    background-color: var(--color-trd);
                    display: flex;
                    padding: 14px 14px 8px 14px;
                    justify-content: space-between;
                    align-items: center;
                    &:nth-last-child(even) {
                        background-color: var(--color-frd);
                    }
                    td {
                        padding: 0px;
                        a:is(:link, :visited) {
                            text-decoration: none;
                            img {
                                transform: scale(0.9);
                                transition: all 0.2s ease-in;
                            }
                        }
                        a:is(:hover) img {
                            transform: scale(1);
                        }

                    }
                    td:nth-child(1) {
                        img {
                            border-radius: 100px;
                            height: 60px;
                            border: 2px solid var(--color-pri);
                            width: 60px;
                        }
                    }
                    td:nth-child(2) {
                        display: flex;
                        flex-direction: column;
                        width: 160px;
                        span:last-child {
                            font-weight: 300;
                            font-size: 14px;
                        }
                    }
                    td:nth-child(3) {
                        display: flex;
                        form {
                            margin: 0;
                            padding: 0;
                            button {
                                background: none;
                                border: none;
                                display: block;
                                height: 40px;
                                cursor: pointer;
                                transform: scale(0.9);
                                transition: all 0.2s ease-in;
                                width: 40px;
                                padding: 0;
                                &:hover {
                                    transform: scale(1);
                                }
                            }
                        }
                        
                    }
                }
            }
            tbody.adoptions {
                tr {
                    justify-content: start;
                    gap: 4rem;
                    td:nth-child(2) {
                        width: 220px;
                        span:last-child {
                            font-style: oblique;
                        }
                    }
                    td:first-of-type {
                        position: relative;
                        img:last-child {
                            position: absolute;
                            left: 50px;
                        }
                    }
                }
            }
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* C R E A T E   &   E D I T   &   S H O W  */
    section.create,
    section.edit,
    section.show {
        h1 {
            font-size: 28px;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            margin: 2.4rem 0;
        }

        form {
            margin-bottom: 1rem;
            img#upload {
                border-radius: 200px;
                border: 2px solid #fff;
                object-fit: cover;
                cursor: pointer;
                height: 240px;
                transition: all 0.4s ease-out;
                width: 240px;
                &:hover {
                    transform: scale(1.05);
                }
            }

            input#photo {
                display: none;
            }
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* S H O W  */
    section.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        img.photo {
            border-radius: 200px;
            border: 2px solid #fff;
            object-fit: cover;
            height: 280px;
            width: 280px;
        }
        p.role {
            color: #fff;
            font-size: 1.4rem;
        }
        div.info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 1rem;
            margin: 1rem 0;

            p {
                border-radius: 50px;
                font-size: 16px;
                background-color: var(--color-frd);
                padding: 10px;
                margin: 0;
                width: 200px;
            }
        }
    }

    /* - - - - - - - - - - - - - - - - - - - - - - */
    /* P E T S  */
    div.pets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 1rem;

        article {
            border-radius: 20px;
            background-color: var(--color-trd);
            padding: 16px;
            width: 160px;
            header {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: center;
                img {
                    border-radius: 60px;
                    border: 2px solid #fff;
                    margin-top: 0;
                    object-fit: cover;
                    height: 80px;
                    width: 80px;
                }
                p {
                    display: flex;
                    flex-direction: column;
                    span:last-child {
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
            footer {
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                a:is(:link, :visited) {
                    background-color: var(--color-pri);
                    border-radius: 20px;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    width: 120px;
                    transition: all 0.4s ease-in;
                    padding: 4px;
                }
                a:is(:hover) {
                    transform: scale(1.1);
                }
            }
        }
        article.bgcolor {
            background-color: var(--color-frd);
        }

    }

    .btn {
        align-items: center;
        border: 2px solid var(--color-sec);
        border-radius: 50px;
        background-color: var(--color-sec);
        color: #fff;
        display: flex;
        height: 80px;
        font-size: 32px;
        font-weight: 400;
        justify-content: center;
        margin: 1rem 0;
        transition: all 0.4s ease-in;
        text-transform: uppercase;
        text-decoration: none;
        width: 380px;
    }
    .btn:is(:hover) {
        border: 2px solid #fff;
        background-color: var(--color-pri);
        cursor: pointer;
        color: #fff;
    }


    div.menu {
        background-color: var(--color-pri);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: -800px;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        justify-content: center;
        min-height: 100vh;
        transition: all 0.5s ease-in;
        width: 440px;

        a:is(:link, :visited) {
            border-radius: 50px;
            color: #fff;
            font-size: 2rem;
            padding: 10px 20px;
            text-decoration: none;
        }

        a.closem {
            position: absolute;
            top: 44px;
            right: 0px;
        }

        nav {
            color: #fff9;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            img {
                border: 2px solid #fff;
                border-radius: 60%;
                object-fit: cover;
                height: 200px;
                width: 200px;
            }

            h4, h5 {
                margin: 0;
            }

            button.closes {
                border: 2px solid #fff;
                border-radius: 50px;
                background-color: var(--color-pri);
                color: #fff;
                cursor: pointer;
                font-size: 2rem;
                padding: 10px 20px;
                text-decoration: none;
            }
        }
    }
    div.menu.open {
        top: 0;
        opacity: 1;
    }

    table {
        tfoot {
            nav {
                ul.pagination {
                    list-style: none;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    li {
                        a:is(:link, :visited) {
                            border: 2px solid #fff;
                            border-radius: 30px;
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 2rem;
                            text-decoration: none;
                            transition: all 0.2s ease-in;
                            height: 50px;
                            width: 50px;
                        }
                        a[rel=prev]:hover {
                            background-color: #fff3;
                            transform: translateX(-6px);
                        }
                        a[rel=next]:hover {
                            background-color: #fff3;
                            transform: translateX(6px);
                        }
                    }
                    li.disabled {
                        opacity: 0;
                    }
                }
            }
        }
    }

    p.no-adoptions {
        margin-top: 2rem;
        color: #fff;
        text-align: center;
    }

    a.forgot:is(:link, :hover) {
        color: #fff;
        text-decoration: none;
        padding-bottom: 4px;
        border-bottom: 2px solid #fff9;
    }
    
}

